{% extends 'base.html' %}

{% block title %}
my posting
{% endblock %}
{% block content %}
<div class="mypage-top">
    <section class="profile-img">
        {% if user.img %}
        <img src="{{ user.img }}" alt="">
        {% else %}
        <img src='https://velog.velcdn.com/images/e_elin/post/393c51bc-9fef-48a8-ae11-f47bb3e57bbc/image.png' alt="">
        {% endif %}
    </section>
    <section class="profile">
        <h5 class="profile-title">{{ user.username }}</h5>
        <p class="profile-text">{{ user.bio }}</p>
    </section>
</div>
<hr class="line" />
<section class="middle3">
    <div class="middle2">
        <div class="sub_title">
            <p>내 포스팅</p>
        </div>
        <span class="part"></span>
        <div class="list_box">
            <ul class="list1" id="list_box1">
                {% for mp in my_posting %}
                <li onclick="location.href = '/api/posting-detail/{{ mp.id }}';" style="cursor: pointer;">
                    <div class="img_box_div">
                        <a href='/api/posting-detail/{{ mp.id }}' class="img_box">
                            <img src="{{ mp.thumbnail }}" class="card-img-top" alt="">
                        </a>
                    </div>
                    <div class="title_box_div">
                        <a href="/api/posting-detail/{{ mp.id }}" class="text_box">
                            <p class="res_name">{{ mp.title }}</p>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}