<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | muk_awesome</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
</head>

<body>
<div class="nav_bar">
    <section class="logo"><a href="/">MukAwesome</a></section>
    <img src='https://velog.velcdn.com/images/e_elin/post/8913630e-a91f-4382-9da9-028e26940979/image.png'
         style="width: 17rem">
    <section class="sign_box">
        {% if not user.is_authenticated %}
            <ul class="sign_ul">
                <li>
                    <a class="sign_a" href="/api/sign-in"> SignIn </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/sign-up"> SignUp </a>
                </li>
            </ul>
        {% else %}
            <ul class="sign_ul">
                <li>
                    <a class="sign_a" href="/api/mypage/{{ user.username }}"> 마이페이지 </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/logout"> LogOut </a>
                </li>
            </ul>
        {% endif %}
    </section>
</div>
{% block content %}
    <form class="form-area" method="post" action='/api/posting/'>
        {% csrf_token %}
        <div class="input-group mb-3">
            <label for="title">제목:</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>

        <div class="form-group mt-2 mb-2">
            <label for="thumbnail">이미지 주소:</label>
            <input type="url" class="form-control" id="thumbnail" name="thumbnail">
        </div>

        <div class="input-group">
            <label for="input-group-text">내용</label>
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>

        <div style="float: right">
            <button type="submit" class="btn btn-primary">저장</button>
        </div>

    </form>
{% endblock %}
</body>

</html>
