<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | muk_awesome</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
</head>

<body>
<div class="nav_bar">
    <section class="logo"><a href="/">MukAwesome</a></section>
    <section class="sign_box">
        {% if not user.is_authenticated %}
            <ul class="sign_ul">
                <li>
                    <a class="sign_a" href="/api/sign-in"> SignIn </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/sign-up"> SignUp </a>
                </li>
            </ul>
        {% else %}
            <ul class="sign_ul">
                <li>
                    <a class="sign_a" href="/api/mypage/<str:username>"> 마이페이지 </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/logout"> LogOut </a>
                </li>
            </ul>
        {% endif %}
    </section>
</div>
{% block content %}

    <div class="media">
        <div class="media-bod">
            <h5 class="mt-0">{{ select_posting.title }}</h5>
        </div>
        <div class="media-bod">
            <img src='{{ select_posting.thumbnail }}' style="width: 16rem">
        </div>
        <div class="media-bod">
            <h5 class="mt-0">{{ select_posting.content }}</h5>
        </div>
        <div style="text-align: right">
            <span style="font-size: small">{{ select_posting.author.username }}-{{ select_posting.created_at|timesince }} 전</span>
        </div>
    </div>
{% endblock %}
</body>

</html>