<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | muk_awesome</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-QN99W9CPjMT1V06dqxCYBzV8w//nJfB2+UQz6Uu13HGG99z9JxBV7ZqtY6GTuR8w" crossorigin="anonymous">
</head>

<body>
<div class="nav_bar">
    <section class="logo"><a href="/">MukAwesome</a></section>
    <section class="sign_box">
        {% if not user.is_authenticated %}
            <ul class="sign_ul">
                <li>
                    <a class="sign_a" href="/api/sign-in"> SignIn </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/sign-up"> SignUp </a>
                </li>
            </ul>
        {% else %}
            <ul class="sign_ul">
                <li>
                    <a href={% url 'mypage' user.id %}>
                    <span class="nav-link">
                        {{ user.username }} 님 반갑습니다!
                    </span>
                    </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/posting"> 포스팅 </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/logout"> LogOut </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/profile"> 프로필보기 </a>
                </li>
                <li>
                    <a class="sign_a" href="/api/profile/update"> 프로필수정 </a>
                </li>
            </ul>
        {% endif %}
    </section>
</div>
{% block content %}

{% endblock %}
</body>

</html>