{% extends 'base.html' %}

{% block title %}
프로필수정
{% endblock %}
{% block content %}
{% comment %} <!-- bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<!-- bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script> {% endcomment %}
    
    <form class="form" method="post" action="/api/profile/update/">
    {% csrf_token %}
        <table>
            <tr>
                <td>프로필사진URL</td>
                {% if user.img %}
                <td><input type="text" name="img" value="{{ user.img }}"></td>
                {% else %}
                <td><input type="text" name="img" value=""></td>
                {% endif %}
            </tr>
            <tr>
                <td>사용자아이디</td>
                <td><input type="text" name="username" value="{{ user.username }}"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" name="email" value="{{ user.email }}"></td>
            </tr>
            <tr>
                <td>한마디</td>
                <td><input type="text" name="bio" value="{{ user.bio }}"></td>
            </tr>
            <tr>
                <td>TMI</td>
                <td><input type="text" name="tmi" value="{{ user.tmi }}"></td>
            </tr>
            <tr>
                <td>MBTI</td>
                <td><input type="text" name="mbti" value="{{ user.mbti }}"></td>
            </tr>
            <tr>
                <td>최애음식</td>
                <td><input type="text" name="favorite" value="{{ user.favorite }}"></td>
            </tr>
        </table>
        <div style="float: left" class="button_box">
            <button type="submit">수정완료</button>
        </div>
    </form>
{% endblock %}